.paginaInicialbg{
    display: block;
    
  
}


.sloganpetvet{
    display: flex;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}
p:nth-child(2) { 
    margin-bottom: 10px;
}

p{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    
}

h3{
    text-align: center;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}


h2{
    text-decoration: black;
    font-weight: 900;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.text-paginaInicial{
    margin-top: 0px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}
